<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Header</title>
</head>
<body>
    <div th:fragment="header" class="d-flex justify-content-between px-3 py-1 border-bottom">
        <div class="d-flex">
            <a href="/" class="text-decoration-none text-reset align-self-center"><h3>Linie Lotnicze</h3></a>
            <a sec:authorize="hasAuthority('CLIENT')" href="/passenger-flights/my-bookings" class="text-decoration-none text-reset align-self-center ms-4">Moje rezerwacje</a>
            <a sec:authorize="hasAuthority('ADMIN')" href="/clients" class="text-decoration-none text-reset align-self-center ms-4">Klienci</a>
        </div>
        <a sec:authorize="isAnonymous()" href="/login"><button class="btn btn-primary">Zaloguj się</button></a>
        <a sec:authorize="isAuthenticated()" href="/logout"><button class="btn btn-primary">Wyloguj się</button></a>
    </div>
</body>
</html>